@model GeeYeangSore.Models.HAd

@{
    ViewData["Title"] = "編輯廣告";
}

<div class="container-fluid">
    <div class="row mb-3">
        <div class="col">
            <h2>編輯廣告</h2>
        </div>
        <div class="col text-end">
            <a asp-action="Index" class="btn btn-secondary">返回列表</a>
        </div>
    </div>

    <div class="card">
        <div class="card-body">
            <form asp-action="Edit">
                <input type="hidden" asp-for="HAdId" />
                
                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HAdName" class="control-label">廣告標題</label>
                            <input asp-for="HAdName" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HCategory" class="control-label">廣告類別</label>
                            <input asp-for="HCategory" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HDescription" class="control-label">廣告內容</label>
                            <textarea asp-for="HDescription" class="form-control" rows="3"></textarea>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HAdTag" class="control-label">廣告標籤</label>
                            <input asp-for="HAdTag" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HPriority" class="control-label">優先級</label>
                            <input asp-for="HPriority" class="form-control" type="number" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HTargetRegion" class="control-label">目標區域</label>
                            <input asp-for="HTargetRegion" class="form-control" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HAdPrice" class="control-label">廣告價格</label>
                            <input asp-for="HAdPrice" class="form-control" type="number" step="1" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HLinkUrl" class="control-label">連結網址</label>
                            <input asp-for="HLinkUrl" class="form-control" type="url" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HStartDate" class="control-label">開始日期</label>
                            <input asp-for="HStartDate" class="form-control" type="date" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HEndDate" class="control-label">結束日期</label>
                            <input asp-for="HEndDate" class="form-control" type="date" />
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HImageUrl" class="control-label">圖片網址</label>
                            <input asp-for="HImageUrl" class="form-control" type="url" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HStatus" class="control-label">狀態</label>
                            <select asp-for="HStatus" class="form-control">
                                <option value="進行中">進行中</option>
                                <option value="維護中">維護中</option>
                                <option value="結束">結束</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HPropertyId" class="control-label">房源</label>
                            <select asp-for="HPropertyId" class="form-control" asp-items="ViewBag.HPropertyId">
                                <option value="">-- 請選擇房源 --</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="HLandlordId" class="control-label">房東</label>
                            <select asp-for="HLandlordId" class="form-control" asp-items="ViewBag.HLandlordId">
                                <option value="">-- 請選擇房東 --</option>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-end">
                        <button type="submit" class="btn btn-primary">儲存</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
